<p>Users and User Role</p>
<div class="container">
    <div style='float:left;width:75%'>
        <div class="icons">
            <i class="material-icons" (click)="add()">add</i>
            <i class="material-icons" (click)="update()">update</i>
            <i class="material-icons" (click)="remove()">delete</i>
        </div>
        <ngx-datatable class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="5" [selected]="selected" [selectionType]="'checkbox'" (activate)="onActivate($event)" (select)='onSelect($event)'>
            <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false" [headerCheckboxable]="true" [checkboxable]="true">
            </ngx-datatable-column>
            <ngx-datatable-column name="user"></ngx-datatable-column>
            <ngx-datatable-column name="role"></ngx-datatable-column>
            <ngx-datatable-column name="status"></ngx-datatable-column>
        </ngx-datatable>
    </div>
</div>