$full-width: 100%;
$size:1.4em;
$weight: bold;
$table-size: 1.3em;
.container,
p {
    display: flex;
    justify-content: center;
}

p {
    font-size: $size;
    font-weight: $weight;
}

ngx-datatable {
    width: $full-width;
    font-size: $table-size;
}

.icons {
    display: flex;
    justify-content: flex-end;
}