<md-card class="example-form">
    <form>
        <md-card-header>Email Scheduler Settings</md-card-header>
        <table class="example-full-width" cellspacing="5">
            <tr>
                <td>
                    <md-input-container class="example-full-width" novalidate [formGroup]="form">
                        <input mdInput placeholder="Sheduler Name:" id="some-name" formControlName="name">
                        <p *ngIf="form.controls.name.errors" class="alert alert-danger">Please enter valid name: only A-Z symbols and numbers are allowed.</p>
                    </md-input-container>
                </td>
            </tr>
            <tr>
                <td>
                    <md-input-container class="example-full-width" novalidate [formGroup]="form">
                        <input mdInput placeholder="Description:" id="description" formControlName="description">
                        <p *ngIf="form.controls.description.errors" class="alert alert-danger">Please enter valid description: A-Z symbols, numbers and following symbols “,”, “.”, “?”, “!”, “:” are allowed.”</p>
                    </md-input-container>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="options">Options: </p>
                    <md-radio-button value="1" aria-label="Save and Email to Receptiens">
                        Save and Email to Receptiens
                    </md-radio-button>
                    <md-radio-button value="1" aria-label="Save and Email to Receptiens">
                        Only Email to Receptiens
                    </md-radio-button>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="email-lang">Email language:
                        <md-select placeholder="Select Language" [(ngModel)]="selectedValue" name="lang" class="select">
                            <md-option *ngFor="let lang of langs" [value]="lang.value">
                                {{lang.viewValue}}
                            </md-option>
                        </md-select>
                    </p>
                </td>
            </tr>
            <tr>
                <td class="btn">
                    <button md-raised-button>Save</button>
                </td>
            </tr>
        </table>
    </form>
</md-card>