.navbar-default {
    background-color: #fff;
    border-bottom: 0.15em solid #FFA313;
    border-top: #fff;
    border-right: #fff;
    border-left: #fff;
}

.navbar-default .navbar-nav>li>a {
    color: #000;
    font-size: 1.4em;
}

.navbar-default .navbar-nav>li>a:focus {
    border-bottom: 0.2em solid #f6a201;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    padding-bottom: 20px;
}

.navbar>.container .navbar-brand,
.navbar>.container-fluid .navbar-brand {
    font-size: 2em;
    color: #000;
}