<div class="box-container">
    <div class="box-component">
        <div class="top ">
            <p>Email Sheduler</p>
            <i class="material-icons" data-toggle="modal" data-target="#ModalOpenEmailConf">settings</i>
            <!-- Modal1 -->
            <div class="modal fade" id="ModalOpenEmailConf" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <email-form></email-form>
                </div>
            </div>
        </div>
        <div class="bottom">
            <p>Status: ON</p>
            <p>Sheduled emails: 10</p>
        </div>
    </div>
    <div class="box-component">
        <div class="top ">
            <p>Serves Configurators</p>
            <i class="material-icons" data-toggle="modal" data-target="#ModalOpenLdapConf">settings</i>
            <!-- Modal2 -->
            <div class="modal fade" id="ModalOpenLdapConf" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <ldap-configuration></ldap-configuration>
                </div>
            </div>
        </div>
        <div class="bottom">
            <p>Status: OFF</p>
            <p>Servers Configurated: 5</p>
        </div>
    </div>
</div>