<div id="box-container">
    <div id="box-component">
        <div class="top">
            <p>Email Sheduler</p>
            <i class="glyphicon glyphicon-cog"></i>
        </div>
        <div class="bottom">
            <p>Status: ON</p>
            <p>Sheduled emails: 10</p>
        </div>
    </div>
    <div id="box-component">
        <div class="top">
            <p>Serves Configurators</p>
            <i class="glyphicon glyphicon-cog"></i>
        </div>
        <div class="bottom">
            <p>Status: OFF</p>
            <p>Servers Configurated: 5</p>
        </div>
    </div>
</div>