$corporate_color: #FFA313;
$alarm_color: #a94442;
$top_font_size: 1.5em;
$bottom_font_size: 1.2em;
$border_weight: 0.15em;
.box-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    margin-bottom: 2em;
}

.box-component {
    margin: 1.000em;
    width: 20em;
    height: 20em;
    border: $border_weight solid $corporate_color;
}

.top {
    padding: 1.000em 1.000em 0.000em 1.000em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: $top_font_size;
}

.bottom {
    padding: 1.000em 1.000em 0.000em 1.000em;
    font-size: $bottom_font_size;
}

.ng-invalid:not(form) {
    border: $border_weight solid $alarm_color;
}