<md-card class="example-form">
    <form>
        <md-card-header>{{ 'DIALOG2.HEADER' | translate }}</md-card-header>
        <table class="example-full-width" cellspacing="5">
            <tr>
                <td>
                    <md-input-container class="example-full-width" [formGroup]="form" (ngSubmit)="onSubmit()">
                        <input mdInput placeholder="{{ 'DIALOG2.NAME' | translate }}" formControlName="ldap">
                        <div ngxErrors="ldap" #ldap="ngxErrors">
                            <div ngxError="ldap" class="alert alert-danger" ngxError="pattern" [when]="['dirty']">
                                {{ 'DIALOG2.ALARM-NAME' | translate }}
                            </div>
                        </div>
                    </md-input-container>
                </td>
            </tr>
            <tr>
                <td>
                    <md-input-container class="example-full-width" [formGroup]="form" (ngSubmit)="onSubmit()">
                        <input mdInput placeholder="{{ 'DIALOG2.HOST' | translate }}" formControlName="description">
                        <div ngxErrors="description" #ldap="ngxErrors">
                            <div ngxError="description" class="alert alert-danger" ngxError="pattern" [when]="['dirty']">
                                {{ 'DIALOG2.ALARM' | translate }}Please enter valid host.
                            </div>
                        </div>
                    </md-input-container>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="options">{{ 'DIALOG2.AUTH' | translate }} </p>
                    <md-radio-button (change)="0" aria-label="Anonymous">
                        {{ 'DIALOG2.ANON' | translate }}
                    </md-radio-button>
                    <md-radio-button (change)="0" aria-label="Use Password" (click)="show=!show" #use>
                        {{ 'DIALOG2.USE-PASS' | translate }}
                    </md-radio-button>
                    <div *ngIf="show">
                        <md-input-container class="example-full-width" *ngIf="use.checked">
                            <input mdInput placeholder="{{ 'DIALOG2.USER' | translate }}" id="user">
                        </md-input-container>
                        <md-input-container class="example-full-width" *ngIf="use.checked">
                            <input mdInput placeholder="{{ 'DIALOG2.PASSWORD' | translate }}" id="passw">
                        </md-input-container>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <button md-raised-button id="upload">{{ 'DIALOG2.UPLOAD' | translate }}</button>
                </td>
            </tr>
            <tr>
                <td class="btn">
                    <button md-raised-button id="save-btn">{{ 'DIALOG2.SAVE' | translate }}</button>
                </td>
            </tr>
        </table>
    </form>
</md-card>