$corporate_color: #FFA313;
$border_weight: 0.15em;

.example-form {
    max-width: 50.000em;
    margin: auto;
    border: $border_weight solid $corporate_color;
    max-height: auto;
    min-height: 45em;
}

.example-full-width {
    width: 90%;
}

md-card-header {
    font-weight: bold;
    border-bottom: $border_weight solid $corporate_color;
}

#btn {
    display: flex;
    justify-content: flex-end;
}

#save-btn {
    margin-top: 10em;
}