<md-card class="example-form">
    <form novalidate [formGroup]="form">
        <md-card-header>LDAP Configuration</md-card-header>
        <table class="example-full-width" cellspacing="5">
            <tr>
                <td>
                    <md-input-container class="example-full-width">
                        <input mdInput placeholder="LDAP Name:" id="some-name" formControlName="ldap">
                        <p *ngIf="form.controls.ldap.errors" class="alert alert-danger">Please enter valid name: only A-Z symbols and numbers are allowed.</p>
                    </md-input-container>
                </td>
            </tr>
            <tr>
                <td>
                    <md-input-container class="example-full-width">
                        <input mdInput placeholder="Host(s):" id="description">
                    </md-input-container>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="options">Auth Method: </p>
                    <md-radio-button value="1" aria-label="Anonymous">
                        Anonymous
                    </md-radio-button>
                    <md-radio-button value="1" aria-label="Use Password">
                        Use Password
                    </md-radio-button>
                </td>
            </tr>
            <tr>
                <td>
                    <button md-raised-button id="upload">Upload</button>
                </td>
            </tr>
            <tr>
                <td class="btn">
                    <button md-raised-button id="save-btn">Save</button>
                </td>
            </tr>
        </table>
    </form>
</md-card>